[submodule "modules/simply.assert"]
	path = modules/simply.assert
	url = https://github.com/olegsych/simply.assert.git
[submodule "modules/simply.random"]
	path = modules/simply.random
	url = https://github.com/olegsych/simply.random.git
